@import '../smart-grid';

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

mat-toolbar {
  justify-content: space-between;
}

main {
  @include wrapper();
}

.menu-btn-wrapper {
  display: flex;
  align-items: center;
}
