<mat-sidenav-container>
  <mat-sidenav #sidenav opened mode="side">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="menu-btn-wrapper">
        <button mat-icon-button (click)="sidenav.toggle()" >
          <mat-icon>menu</mat-icon>
        </button>
        Angular App
      </div>
      <div>
        {{userName}}
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
