html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.snackbar-registration-status .mat-simple-snackbar {
  justify-content: center;
}
.btn-with-loader .mat-button-wrapper {
  display: flex;
  align-items: center;
}
.btn-with-loader .mat-button-wrapper mat-spinner {
  margin-left: 15px;
}
